body {
    height: 100vh;
}

#goBackBtn {
    border: none;
    position: absolute;
    font-size: 1.5em;
    top: 27px;
    left: 30px;
  }
  
  #changePasswordForm {
    margin: 5% auto;
    padding: 10%;
    text-align: center;
    height: 80%;
  }
  
  .display-6.change_password {
    margin: 10% auto 5%;
    font-weight: bold;
    color: #2B463C;
  }
  
  #currentPassword {
    margin: 15% auto;
  }
  
  
  #newPassword {
    margin: 7% auto;
  }
  
  #savePassword {
    padding: 3%;
    width: 30%;
    background-color: #6AA392;
    border-color: #6AA392;
  }
  
  #passwordChangedNotification {
    text-align: center;
    margin: 0 auto 10px;
    margin-bottom: 50%;
    color: #3f7840;
    background-color: #dff1d8;
    padding: 5%;
    visibility: hidden;
  }