  div.row {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0;
  }

  div.btn-group-vertical {
    width: 60vw;
    height: 30vh;
  }

  div.col-4 {
    padding: 1vh;
  }

  footer.navbar.fixed-bottom {
    height: 70px;
  }

  .list-group-item.list-group-item-action {
    background-color: #6AA392;
  }

  .list-group-item.list-group-item-action.active {
    background-color: #2B463C;
  }

button.btn.btn-secondary.account {
  background-color: #b1d182;
  color: black;
}

div.col-4 {
  width: 900px;
}


div.btn-group-vertical{
  width: 90vw;
}

#recipe-search-button {
  border-radius: 15%;
  position: relative;
  top: 40%;
}

#text_from_input_field {
  position: relative;
  top: 40%;

}

#recipe-search-div {
  background-color: #b1d182;
}

.bi.bi-patch-question-fill.search {
  position: relative;
  top: 40%;
  color: black;
}

#changePasswordForm {
  margin: 10% auto;
  padding: 10%;
  text-align: center;
}

.display-6.change_password {
  margin: 10% auto 5%;
  font-weight: bold;
  color: #2B463C;
}

#currentPassword {
  margin: 15% auto;
}


#newPassword {
  margin: 7% auto;
}

#savePassword {
  padding: 3%;
  width: 30%;
  background-color: #6AA392;
}